pyodbc~=4.0.30
tqdm~=4.54.1
namedlist~=1.8

py~=1.10.0
colorama~=0.4.4
pip~=20.3.3
attrs~=20.3.0
toml~=0.10.1
pluggy~=1.0.0.dev0
iniconfig~=1.1.1
atomicwrites~=1.4.0
pyparsing~=3.0.0b1
six~=1.15.0
setuptools~=49.2.1
