name: Towing post commit steps
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
      - name: Lint with pylint
        run: |
          pip install -U pylint -r requirements.txt
          pylint python
      - name: Test with pytest
        run: |
          pip install -U pytest
          pytest python/tests.py
      - name: Look for security issues with Bandit
        run: |
          pip install -U bandit
          bandit python
